<!--<div class="card">-->
<!--<div class="card-image w3-card-4">-->
<!--  <img src="../images/hero_1.jpg" style="width:100%" alt="...">-->
<h1>
  <strong>Welcome to <br>
    {{ name }}</strong>
</h1>
  <div>
    <br/>
    <h3><strong>Переваги сайту:</strong></h3>
  </div>

    <article class="fade-out-siblings">
      <button class="read">Простий та інтуїтивний дизайн</button>
      <button class="read">Можливість управляти своїми операціями та транзакціями</button>
      <button class="read">Додавання категорій</button>
    </article>
<!--  </div>-->
<!--</div>-->
